body {
    margin: 0;
    padding: 0;
    font-family: "Garamond";
    font-size: 16px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

header {
    border-bottom: 3px solid #999999;
    background: #CCCCCC;
    height: 100px;
}

span.page-title {
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 30px;
}

ul {
    list-style-type: none;
}

nav.nav-top ul {
    display: flex;
    justify-content: space-around;
}

main {
    border-top: 3px solid black;
}

h1 {
    margin: 30px;
}

h1, h2 {
    font-size: 20px;
}

section {
    margin: 40px;
}

h2, h3, p {
    margin: 0;
}

p {
    font-size: 13px;
}

h2, h3 {
    padding-bottom: 5px;
}

article {
    border-right: 1px solid black;
    float: left;
    width: 73%;
}

aside {
    float: right;
    width: 25%;
    padding: 25px 10px;
}

/* The footer is fixed to the bottom at 0px */
footer {
    position: absolute;
    bottom: 0px;
    border-top: 3px solid black;
    background: #777777;
    width: 100%;
}

div.footer-block {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}